body {
    background-color: white;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

/* heading */

.heading {
    text-align: center;
    font-size: large;
}

h1 {
    font-weight: 300;
    font-size: 70px;
}

/* question area */


#true {
    color: black;
    background-color: green;
    border-radius: 50px;
}

#false {
    color: black;
    background-color: red;
    border-radius: 50px;
}