body {
    background-color: white;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
}

/* heading */

.heading {
    text-align: center;
    font-size: large;
}

h1 {
    font-weight: 300;
    font-size: 70px;
}

/* intro area*/


/* question area */



/* buttons */

#true {
    color: black;
    background-color: rgb(12, 211, 12);
    border-radius: 50px;
}

#false {
    color: black;
    background-color: red;
    border-radius: 50px;
}