/* Global style */
*{
    box-sizing: border-box;
    padding: 10px;
    margin: auto;
    border: none;
  }

body {
    background-color: white;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    display: block;
    margin: auto;
}

/* Heading */

.heading {
    text-align: center;
    font-size: large;
}

h1 {
    font-weight: 300;
    font-size: 70px;
}

.img {
    padding: 5px 5px 5px 5px;
    height: 200px;

}

.true {
    color:rgb(12, 211, 12);
    font-weight: bold;
}

.false {
    color:red;
    font-weight: bold;
}

/* Game layout */

.intro-area, .question-area, .score-area {
    padding: 2% 2% 2% 2%;
    margin: auto;
    text-align: center;
}

#question {
    font-weight: bold;
}

#score {
    display: inline-block;
    padding: 20px;
}

#correct {
    color: rgb(12, 211, 12);
    font-weight: bold;
}

#incorrect {
    color: red;
    font-weight: bold;
}

/* buttons */

#true {
    color: black;
    background-color: rgb(12, 211, 12);
    border-radius: 50px;
}

#false {
    color: black;
    background-color: red;
    border-radius: 50px;
}

#true :hover, #false :hover {
    color: white;
}


/* Media queries*/


/* Default styles for all screen sizes */
* {
    box-sizing: border-box;
    padding: 10px;
    margin: auto;
    border: none;
  }


/* Styles for screens with a maximum width of 1200px */
   @media only screen and (max-width: 1200px) {
   /* For mobile phones: */
    body {
        margin-top: 30px;
    }

   }

  /* Styles for screens with a maximum width of 768px */
  @media only screen and (max-width: 768px) {
    /* For tablets: */
    body {
        margin-top: 20px;
    }
  }

  /* Styles for screens with a maximum width of 480px */
  @media only screen and (max-width: 480px) {
    /* For small screens: */
    body {
        font-size: 20px;
    }

    h1 {
        font-size: 50px;
        padding-left: 5%;
    }

    #true, #false {
        font-size: 20px;
    }

    
        
}

 /* Styles for screens with a maximum width of 480px */
 @media only screen and (max-width: 320px) {
    /* For x-small screens: */
    body {
        font-size: 20px;
        text-align: center;
        margin-top: 10px;
    }
    
    #true, #false {
        font-size: 20px;
    }
    
    .intro-area, .question-area, .score-area {
        padding-left: 10%;
    }

}